@import 'navigation.css';
@import 'forms.css';
@import 'toasts.css';
@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');

body {
    font-family: Harmattan, 'Roboto', 'Helvetica', 'Arial', sans-serif;
    background: #444;
    min-height: 100vh;
    margin: 0rem;
    padding: 0rem;
    color: #eee;
}

.container {
    max-width: 90rem;
    margin: auto;
}

a {
    color: #eee;
    text-decoration: none;
}
