nav {
    position: relative;
    background: rgb(255, 255, 255);
    background: linear-gradient(139deg, #445 0%, #556 25%, #445 100%);
    border-bottom: 2px solid #556;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
}

nav .container {
    display: flex;
    justify-content: flex-start;
}

nav ul {
    margin: 0rem;
    padding: 0rem;
}

nav .left-nav {
    width: 75%;
}

nav .right-nav {
    width: 25%;
}

nav .left-nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
}

nav .right-nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
}

nav .left-nav ul a,
nav .right-nav ul a {
    display: block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #fff;
    transition: 0.25s ease-in-out;
}

nav .left-nav ul a:first-of-type {
    margin-left: -1rem;
}

nav .left-nav ul a.active,
nav .right-nav ul a.active {
    background-color: #fff;
    border-radius: 0.4rem;
    color: black;
}

nav .left-nav ul a:not(.active):hover,
nav .right-nav ul a:not(.active):hover {
    color: #faf;
}
