@keyframes slide-down {
    from {
        margin-top: 0;
    }
    to {
        margin-top: 1rem;
    }
}

.toast {
    display: block;
    background-color: #222;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    animation: slide-down;
    animation-duration: 0.5s;
}

#toastContainer {
    position: fixed;
    top: 0;
    right: 20px;
}
